.question-box {
    background-color: #ff9500;
    border-radius: 5px;
    padding: 25px;
    margin: 15px 0px;
    text-align: left;
}

.boolean-answer {
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    margin: 7px 0px;
}

.single-answer {
    background-color: #fff;
    border-radius: 1px;
    padding: 4px;
    margin: 4px 0px;
}

.multiple-answer {
    background-color: #fff;
    border-radius: 10px;
    padding: 4px;
    margin: 4px 0px;
}

.loader {
    display: flex;
    justify-content: center;
}

#gradbox {
    height: 30px;
    background-color: #56b004; 
    background-image: linear-gradient(to right, #ff9500 0%, rgba(0,0,0,0) 0%);
    border-radius: 3px;
    margin: 10px 0px;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    padding: 2px;
}

.quiz-results-div-item {
    margin: 5px;
}