h1 {
    margin: 15px auto;
    font-size: 46px;
    color: #ff9500;
}

.page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 50px;
    background-color: #fff;
    width: 38vw;
    border-radius: 10px;
    height: 85vh;
    animation: fadein 0.3s;
}

@media only screen and (max-width: 1000px) {
  .page {
    width: 55vw;
  }
}

@media only screen and (max-width: 620px) {
  .page {
    width: 65vw;
  }
}

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.btn-white {
  background-color: #fff;
  border-radius: 4px;
  padding: 7px;
  margin: 15px 2px;
  border: none;
}

.btn-orange {
  background-color: #ff9500;
  border-radius: 4px;
  padding: 7px;
  margin: 15px 2px;
  border: none;
}

.main-text {
    margin: 60px 0px 0px 20px;
    text-align: left;
    line-height: 1.5;
}
