h1 {
    margin: 15px auto;
    font-size: 46px;
    color: #ff9500;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-grid {
  display:grid;
  grid: 100px / auto auto;
}

.page {
  margin-top: 5vh;
  padding: 50px;
  background-color: #fff;
  width: 60vw;
  border-radius: 10px;
  height: 650px;
  animation: fadein 0.3s;
}

@media only screen and (max-width: 1000px) {
  .page {
    width: 55vw;
  }
}

@media only screen and (max-width: 620px) {
  .page {
    width: 65vw;
  }
}

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.btn-white {
  background-color: #fff;
  border-radius: 4px;
  padding: 7px;
  margin: 15px 2px;
  border: none;
}

.btn-orange {
  background-color: #ff9500;
  padding: 5px 15px;
  border-radius: 6px;
  border: none;
  transition: 0.3s;
  color: #fff;
  font-size: 15px;
}

.btn-orange:hover, .btn-orange:after, .btn-orange:active, .btn-orange:focus {
  background-color: #e68600;
}

.page-title {
  grid-area: 1 / 1 / 1 / span 2;
}

.home-page-left-div {
  text-align: left;
  padding: 20px;
}

.home-page-right-div {
  text-align: right;
  padding: 20px;
}
