.list {
    margin: 0 auto;
    width: 80px;
    background-color: #fff;
    border-radius: 10px;
}

#context-menu {
    display: flex;
    flex-direction: column;
}

.history-entries-list {

}

.score-sign {
    width: 20px;
    height: 12px;
    border-radius: 10px;
    margin: auto 0;
    margin-right: 5px;
}

.color-red { background-color: red }

.color-yellow { background-color: yellow }

.color-green { background-color: green }

.history-entry {
    display: flex;
    margin: 7px;
}

.delete-btn {
    border-radius: 7px;
}

