.list {
    margin: 0 auto;
    width: 80px;
    background-color: #fff;
    border-radius: 10px;
}

#context-menu {
    display: flex;
    flex-direction: column;
}

.history-entries-list {

}

.history-entry {
    display: flex;
    margin: 7px;
}

.delete-btn {
    border-radius: 7px;
}

